@import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');

body {
  background-color: rgb(222, 241, 235);
}

.header-text {
  color: rgba(239, 35, 3, 0.954);
  font-size: 2em;
  font-family: 'Hurricane';
}

.portlet {
  margin: 1em;
  padding: 0.3em;
  border: solid 1px;
  width: 15rem;
  height: 20rem;
  cursor: pointer;
}

.portlet-header {
  border: solid 1px;
  background-color: rgb(215, 214, 214);
}


.portlet-content {
  padding: 0.4em;
}

.portlet-placeholder {
  border: 1px black;
  margin: 0 1em 1em 0;
  height: 50px;
}

.todo {
  background-color: rgb(246, 240, 232);
  border-right: solid 1px;
}

.done {
  background-color: rgb(222, 241, 235);
}

.edit-new {
  background-color: rgb(222, 241, 235);
}