{% extends 'base.html.twig' %}

{% block title %}Liste des tâche{% endblock %}

{% block content %}

{% include 'home/header.html.twig' %}

<div>

  <div>  
    <button class="btn btn-md btn-primary text-decoration-none text-white m-3" 
      type="button" onclick="window.location='/tasks/new'">Créer une nouvelle tâche</button>
  </div>

  <div class="container-fluid d-flex flex-wrap">

        {% for task in tasks %}
            {% include 'task/task.html.twig' with { 'task' : task } %}
        {% endfor %} 
      
  </div>

</div>

{% endblock %}
